<div class="container">
  <div class="grid grid-cols-12 gap-3">
    <div class="col-span-3 lg:col-span-1">
      <div class="w-[3rem] h-[3rem]">
        <img class="w-full h-full rounded-full"
          src="https://rukminim1.flixcart.com/image/612/612/xif0q/kurta/i/v/x/xxl-br-ad-kt-105-adwyn-peter-original-imagj4zyd2q7t6cg.jpeg?q=70"
          alt=""
        />
      </div>
    </div>
    <div class="col-span-6 lg:col-span-9">
        <div class="space-y-2">
            <div>
                <p class="font-normal text-lg ml-3">codeWithChai</p>
                <p class="opacity-70">Aug 30, 2023</p>
            </div>
            <div>
                <app-star-rating></app-star-rating>
            </div>
            <p>
                nice product
            </p>
        </div>
    </div>
  </div>
</div>
