<div class="mt-6">
    <div>
        <app-carousel/>
        <!-- <app-image-slider></app-image-slider> -->
    </div>
    <div>
        <app-home-product-slider title="Men's Jeans" [products]="mensJeans"/>
        <app-home-product-slider title="Womens's Gouns" [products]="womenGounns"/>
        <app-home-product-slider title="Lehnga Choli" [products]="lehngaCholi"/>
        <app-home-product-slider title="Men's Kurta" [products]="mensKurta"/>
        <app-home-product-slider title="Shoes" [products]="mensShoes"/>


    </div>
    
</div>