<div class="box">
  <div class="grid grid-cols-6">
    <div class="col-span-3">
      <div class="flex items-center w-full">
        <img
          class="w-[5rem] h-[5rem] object-cover object-top"
          src="https://rukminim1.flixcart.com/image/612/612/xif0q/gown/9/5/7/na-s-3-4-sleeve-stitched-sho31krred-saponharsh-na-original-imagmufurbc2znpg.jpeg?q=70"
          alt=""
        />
        <div class="ml-5 text-left">
          <p class="font-semibold text-lg">product title</p>
          <p class="text-sm text-gray-400">Size : M</p>
          <p class="text-sm text-gray-400">Color : Blue</p>
        </div>
      </div>
    </div>
    <div class="col-span-1 text-left">
        <p class="font-semibold text-lg">₹499</p>
    </div>
    <div class="col-span-2 text-left" >
        <p>Expected Delivery On Mar 29</p>
        <p class="text-sm">Your Item has been delivered</p>

    </div>
  </div>
</div>
